* {
  margin: 0;
  padding: 0;
}

.projects-grid {
  padding: 20px;
}

.projects {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 4rem;
}
.heading-about {
  font-size: 2.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
  margin: 20px auto;
}
.heading-about span {
  color: #496eff;
}

.project-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}

.load-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #496eff;
  font-weight: 500;
  cursor: pointer;
}

.toggle-btn {
  margin: 10px auto;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 8px;
  border: 2px solid rgb(225, 225, 225);
  width: 200px;
  padding: 2px;
  border-radius: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-active {
  background-color: #496eff;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.toggle-inactive {
  color: #496eff;
  padding: 5px 20px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .projects {
    padding: 0 1rem;
  }
}
