.cards {
  display: flex;
  flex-direction: row;
}

.card {
  margin: 15px 15px;
  /* width: 150px; */
  padding: 10px 15px;
  border-radius: 1.5rem;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  background: #ffffff;
  transition: 0.2s;
  border: 1px solid #496eff;
}
.card:hover {
  /* box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important; */
  background-color: #ffffff !important;
  transition: all 0.3s linear;
  transform: scale(1.05);
}
.card .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* margin-top: 1rem; */
}
.card .info img {
  font-size: 3rem;
  width: 30px;
  height: 30px;
}
.info span {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  font-family: "Poppins";
  margin-left: 0.5rem;
}
