.skills {
  background-color: white;
  padding-bottom: 2rem;
}

.heading {
  font-size: 2rem;
  padding-top: 30px;
  color: #496eff;
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: black;
}

.container {
  /* background: rgba(0, 0, 22, 0.4); */
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 70vw;
  margin: auto;
  margin-top: 2rem;
}
.container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 480px) {
  .skills {
    min-height: 80vh;
  }

  .container {
    width: 95vw;
    height: auto;
    padding: 0rem;
    background: inherit;
  }
}
