@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

.about {
  background: rgb(255, 255, 255);
  padding: 2rem;
}
.heading-about {
  font-size: 2.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading-about span {
  color: #496eff;
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
  margin-top: 2rem;
}
.about .row .image img {
  margin: 4rem;
  width: 20rem;
  border-radius: 5%;
  transition: 0.3s;
  cursor: pointer;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content .MyName {
  color: rgb(27, 27, 27);
  font-size: 2rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #496eff;
  font-weight: 600;
  margin-top: 1rem;
}

.about-container {
  display: flex;
  gap: 1.5rem;
  margin: 2rem 0;
}

.detail-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.about-container .detail-container img {
  height: 2rem;
  cursor: pointer;
}

.about .row .content p {
  font-size: 1rem;
  margin-top: 1rem;
  font-family: "Nunito";
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .heading-about {
    max-width: 70%;
  }
  .row {
    padding: 0.5rem;
    margin-bottom: 4rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
  }

  .about .row .content .tag {
    font-size: 0.9rem;
  }

  .about .row .content p {
    font-size: 0.9rem;
  }

  .about .row .content {
    padding: 1rem;
  }

  .about-container {
    flex-direction: column;
    padding: 0.5rem;
  }
}
